@mixin flex-props($justify: space-between, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin square($size) {
    max-width: $size;
    width: 100%;
    height: $size;
}